# Python
.venv
venv
.venv/
venv/

# Sphinx build
# NOTE: Sphinx build directory can be defined by
#       the user when using:
#       `$ sphinx-build website <build-dir>`
#       but here is listed common ones
build/
.build/
_build/
